*{
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
}


#content-container {
    display: flex;
    width: 100vw;
}


#section-corporate-design{
    width: calc(100vw - 300px);
}

.start-pic {
    height: 240px;
    width: 100%;
    object-fit: cover;
   
}


.restaurant{
    background-image: url('../img/burger.jpg');
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.circle-pic{
    z-index: 20;
    position:relative;
    top: 240px;
    width: 120px;
    height:120px
}


.restaurant-info{
    padding: 0px 0px 0px 32px;;
}


.restaurant-info span{
    color: #ff8000;
}


h3 {
    margin-left: 32px;
}

.separator-pic{
    height: 150px;
    width: calc(100% - 16px);
    padding-left: 16px;
    object-fit: cover;
    margin-top:50px;
}

