* {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}


#dialog-justOrdered{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 40;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100%;
}


.ordered{
    z-index: 50;
    width: 75vh;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 40px 40px 40px;
    background-color: white;
    border-radius: 10px;
    border: solid, #ff8000, 1px;
    filter: drop-shadow(4px 4px 2px grey);
}

.ordered img{
    height: 200px;
    margin-top: 20px;
    border: solid #ff8000;
    border-radius: 16px;
    filter: drop-shadow(4px 4px 2px grey);
}


.close-dialog{
margin-top: 20px;
margin-bottom: 20px;
background-color: #ff8000;
color: white;
padding: 16px;
border-radius: 16px;
filter: drop-shadow(4px 4px 2px grey);
}


.close-dialog:hover{
    cursor: pointer;
    transform: scale(1.2);
}

body {
    margin: 0;
    --sb-track-color: #d6d6d6;
    --sb-thumb-color: #ff8000;
    --sb-size: 8px;
    overflow-x: hidden;
}


body::-webkit-scrollbar {
    width: var(--sb-size);
}


body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
}


body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
}


@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}


#content-container {
    display: flex;
    margin-bottom: 180px;
}


#section-corporate-design {
    width: calc(100vw - 300px);
}


.start-pic {
    height: 240px;
    width: 100%;
    object-fit: cover;
}


.restaurant {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.background-pic{
    width:100%;
    height: 100%;
    object-fit: cover;
    flex-grow: 1;
    z-index:28;
}

.circle-pic {
    z-index: 29;
    position: absolute;
    top: 379px;
    width: 120px;
    height: 120px
}


.restaurant-info {
    padding: 0px 0px 0px 32px;
}


.restaurant-info span {
    color: #ff8000;
}


h3 {
    margin-left: 32px;
}


.separator-pic {
    height: 150px;
    width: calc(100% - 16px);
    padding-left: 16px;
    object-fit: cover;
    margin-top: 50px;
}


.d-none {
    display: none !important;
}


.navigation {
    margin-top: 24px;
    display: flex;
    align-items: center;
    background-color: #f7f5f1;
    height: 50px;
    padding: 16px 16px 16px 32px;
    z-index: 10;
    position: sticky;
    top: 0;
}


.navigation a {
    color: grey;
    font-weight: bold;
    margin-right: 32px;
}


.navigation a:hover {
    transform: scale(1.2);
    color: #ff8000;
}


footer{
        display: flex;
        color: grey;
        align-items: center;
        justify-content: center;
        background-color: #f7f5f1;
        height: 100px;
        width:100%;  
}


@media(max-width:850px){
    footer{
        display: none;
    }

    .restaurant{
        width: 100vw;
    }

    body {
        overflow-x:auto;
    }

    #content{
        overflow-x: hidden;
    }

}